*{
    padding: 0;margin: 0;box-sizing: border-box;
}

.nav a{
    text-decoration: none;
    color: black;
}
.nav1 a{
    text-decoration:none;
    color: white;
    background-color: green;
    border: 1px solid green;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}
   
.carousel-item{
    height: 500px;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; 
}
.carousel-inner{
    position: relative;
    isolation: isolate;
}
.head{
    width: 43%;
    height: auto;
    /* background-color: aquamarine; */
    /* margin-left: auto; */
    margin: 100px 0 0 100px;
}
.head p{
    font-family:sans-serif;
    font-size: 20px;
}
.head a{
    border: 1px solid rgb(4,2,37);
    background-color: rgb(4, 2, 37);
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
.head1{
    width: 55%;
    height: auto;
    /* background-color: aquamarine; */
    margin: 60px 0 0 100px;
}
.head1 p{
    font-family:sans-serif;
    font-size: 20px;
}
.head1 a{
    border: 1px solid rgb(4,2,37);
    background-color: rgb(4, 2, 37);
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
span{
    color: green;
}
.row{
    width:100%;
    margin: auto;
    height: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.column1{
    width: 48%;
    height: 30vh;
    background: url("./images/istockphoto-1306511017-170667a.jpg")no-repeat center/cover;
    /* margin-right: 4%; */
    border-radius: 10px;
}
.column2{
    width: 48%;
    height: 30vh;
    border-radius: 10px;
    background: url("./images/basked-bread-with-wheat_23-2148359027.avif")no-repeat center/cover;
}
.fruit{
    margin: 40px 0 0 20px;
}
.bread{
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-top: 40px;
    /* background-color: brown; */
}
.column1 a{
    border: 1px solid rgb(4,2,37);
    background-color: rgb(4, 2, 37);
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
.column2 a{
    border: 1px solid rgb(4,2,37);
    background-color: rgb(4, 2, 37);
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
.row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 30px;
    /* background-color: aqua; */
}
.column3{
    width: 18%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 7px;
    /* padding: 20px; */
    /* flex: 15% 0 0!important; */
}
.column4{
    width: 18%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 7px;
    /* padding: 20px; */
    /* flex: 15% 0 0!important; */
    /* background-color: blue; */
}
.column5{
    width: 18%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 7px;
    /* padding: 15px; */
    /* flex: 15% 0 0!important; */
    /* background-color: blue; */
}
.column6{
    width: 18%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 7px;
    /* padding: 20px; */
    /* flex: 15% 0 0!important; */
    /* background-color: blue; */
}
.column7{
    width: 18%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 7px;
    /* padding: 20px; */
    /* flex: 15% 0 0!important; */
    /* background-color: blue; */
}
.prod{
    margin-top: 60px;
}

.column3 img{
    width: 40%;
    height: auto;
}
.column3:hover{
    border: 2px solid green;

}
.column4:hover{
    border: 2px solid green;

}
.column5:hover{
    border: 2px solid green;

}
.column6:hover{
    border: 2px solid green;

}
.column7:hover{
    border: 2px solid green;

}
.column3 a{
    text-decoration: none;
    color: black;
}
.column3 p{
    /* width: 100%; */
    margin-bottom: 0;
    /* padding: 20px 0 3px 0; */
}
.column4 a{
    text-decoration: none;
    color: black;
}
.column4 p{
    margin-bottom: 0;
    /* padding: 35px 0 3px 0; */
}
.column5 a{
    text-decoration: none;
    color: black;
}
.column5 p{
    margin-bottom: 0;
    /* padding: 35px 0 3px 0; */
}
.column6 a{
    text-decoration: none;
    color: black;
}
.column6 p{
    margin-bottom: 0;
    /* padding: 35px 0 3px 0; */
}
.column7 a{
    text-decoration: none;
    color: black;
}
.column7 p{
    margin-bottom: 0;
    /* padding: 35px 0 3px 0; */
}
.column3 h6:hover{
    color: green;
}
.column4 h6:hover{
    color: green;
}
.column5 h6:hover{
    color: green;
}
.column6 h6:hover{
    color: green;
}
.column7 h6:hover{
    color: green;
}
.column3 button{
    padding: 0 10px 0 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 3px;
    margin-top: 20px;
}
.column4 button{
    padding: 0 10px 0 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 3px;
    margin-top: 30px;
}
.column5 button{
    padding: 0 10px 0 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 3px;
    /* margin-top: 30px; */
}
.column6 button{
    padding: 0 10px 0 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 3px;
    margin-top: 30px;
}
.column7 button{
    padding: 0 10px 0 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 3px;
    margin-top: 30px;
}
.row2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 30px;
    /* background-color: aqua; */
}
.column8{
    width: 24%;
    height: 70vh;
    border: 1px solid black;
    border-radius: 7px;
    background: url("./images/depositphotos_30638835-stock-photo-coffee.jpg") no-repeat center/cover;
}
.column9{
    width: 24%;
    height: 80vh;
    border: 1px solid black;
    border-radius: 7px;
}
.column10{
    width: 24%;
    height: 80vh;
    border: 1px solid black;
    border-radius: 7px;
}
.column11{
    width: 24%;
    height: 80vh;
    border: 1px solid black;
    border-radius: 7px;
}
.seller{
    margin-top: 60px;
}
.content{
    color: white;
    margin: 60px 10px 0 10px;
}
.content button{
    background-color: green;
    color: white;
    padding: 5px 10px 5px 10px;
    border: 1px solid green;
    border-radius: 3px;
}
.column9 p{
    margin-bottom: 3px;

}
.column9 a{
    text-decoration: none;
    color: black;
}
.column10 p{
    margin-bottom: 3px;

}
.column10 a{
    text-decoration: none;
    color: black;
}
.column11 p{
    margin-bottom: 3px;

}
.column11 a{
    text-decoration: none;
    color: black;
}
.column9 img{
    width: 55%;
}
.column10 img{
    width: 55%;
}
.column11 img{
    width: 55%;
}
button{
    background-color: green;
    color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid green;
    border-radius: 3px;
    margin-top: 10px;
}
.row3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.icon{
    color: rgb(18, 197, 18);
}
.column12{
    width: 20%;
    height: auto;
    /* border: 1px solid black; */
}
.column12 h6{
    margin-top: 30px;
}
.column12 p{
    font-size: 15px;
}
.column13{
    width: 20%;
    height: auto;
    /* border: 1px solid black; */
}
.column13 h6{
    margin-top: 30px;
}
.column13 p{
    font-size: 15px;
}
.column14{
    width: 20%;
    height: auto;
    /* border: 1px solid black; */
}
.column14 h6{
    margin-top: 30px;
}
.column14 p{
    font-size: 15px;
}
.column15{
    width: 20%;
    height: auto;
    /* border: 1px solid black; */
}
.column15 h6{
    margin-top: 30px;
}
.column15 p{
    font-size: 15px;
}
.footer{
    /* display: flex; */
    width: 100%;
    height: auto;
    background-color: rgb(223, 223, 236);
    margin-top: 70px;

}
.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.row4{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.row4 h6{
    margin-top: 70px;
}
.row4 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
ul{
    padding-left: 0;
    margin-bottom: 10px;
}
.unorder{
    /* width: 100%; */
    margin-top: 20px;
}
.wrap{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.column16{
    width: 100%;
}
.row5{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.row5 h6{
    margin-top: 70px;
}
.row5 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.column16 ul:hover{
    color: green;
}
.column18 ul:hover{
    color: green;
}
.column19 ul:hover{
    color: green;
}
.column20 ul:hover{
    color: green;
}
.column21 ul:hover{
    color: green;
}
.column23{
    width: 200px;
    height: 50px;
    margin-right: 20px;
}
.column23 img{
    width: 100%;
    height: 50px;
}
.column24{
    width: 200px;
    height: 50px;
}
.column24 img{
    width: 100%;
    height: 50px;
}
.row6{
    width: 60%;
    height: auto;
    display: flex;
    /* margin-top: 50px; */
    margin-left: auto;
    justify-content: space-around;
}
.column22 h6{
    margin-top: 10px;
}
.column22{
    width: 40%;
}
.icon2{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.fb a{
    color: rgb(80, 77, 77);
}
.insta a{
    color: rgb(80, 77, 77);
}
.twit a{
    color: rgb(80, 77, 77);
}
.fb a:hover{
    color: green;
}
.insta a:hover{
    color: green;
}
.twit a:hover{
    color: green;
}
#demo{
    margin-top: 30px;
}
#demo1{
    margin-top: 30px;
}
#demo2{
    margin-top: 30px;
}

/* media queary */

@media (max-width:380px) {
    .row{
        margin-top: 40px;
    }
    .column1{
        width: 100%;
        height: 35vh;
    }
    .column2{
        width: 100%;
        height: 35vh;
        margin-top: 10px;
    }
    .row1{
        flex-wrap: wrap;
    }
    .column3{
        width: 48%;
    }
    .column4{
        width: 48%;
    }
    .column5{
        width: 48%;
        margin-top: 15px;
    }
    .column6{
        width: 48%;
        margin-top: 15px;
    }
    .column7{
        width: 48%;
        margin-top: 15px;
    }
    .prod{
        margin-top: 30px;
    }
    /* .row2{
        flex-wrap: wrap;
    } */
    .column8{
        width: 100%;
    }
    .column9{
        width: 100%;
    }
    .column10{
        width: 100%;
    }
    .column11{
        width: 100%;
    }
    .row3{
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .column12{
        width: 100%;
    }
    .column13{
        width: 100%;
    }
    .column14{
        width: 100%;
    }
    .column15{
        width: 100%;
    }
    .column12 h6{
        margin-top: 20px;
    }
    .column13 h6{
        margin-top: 20px;
    }
    .column14 h6{
        margin-top: 20px;
    }
    .column15 h6{
        margin-top: 20px;
    }
    .wrapper{
        /* width: 100%; */
        flex-direction: column;
    }
    .row4{
        width: 100%;
    }
    .row5{
        width: 100%;
        flex-wrap: wrap;
    }
    .column18{
        width: 50%;
    }
    .column19{
        width: 50%;
    }
    .column20{
        width: 50%;
    }
    .column21{
        width: 50%;
    }
    .row4 h6{
        margin-top: 40px;
    }
    .column18 h6{
        margin-top: 40px;
    }
    .column19 h6{
        margin-top: 40px;
    }
    .column20 h6{
        margin-top: 40px;
    }
    .column21 h6{
        margin-top: 40px;
    }
   .row6{
        margin-left: 0;
        flex-wrap: wrap;
        margin: auto;
    }
    .column23{
        width: 50%;
        margin-right: 0;
    }
    .column24{
        width: 50%;
    } 
    .column22{
        width: 100%;
    }
    .icon2{
        width: 60%;
        margin-left: 0;
    }
    .head{
        width: 70%;
        margin: 80px 0 0 40px;
    }
    .head1{
        width: 70%;
        margin: 80px 0 0 40px;
    }
    .carousel-item{
        height: 450px;
    }
    .bread{
        width: 60%;
    }

    ::-webkit-scrollbar{
        width: 20px;
    }
    ::-webkit-scrollbar-thumb{
        background: rgb(205, 205, 211);
    } 
    ::-webkit-scrollbar-track{ 
         background: #f1f1f1;
    }
    .row2{
        overflow-x: auto;
        padding-bottom: 20px;
    }
    .column8{
        width: 100%;
        flex: 0 0 auto;
        margin-right: 15px;
    }
    .column9{
        width: 100%;
        height: 70vh;
        flex: 0 0 auto;
        margin-right: 15px;
    }
    .column10{
        width: 100%;
        height: 70vh;
        flex: 0 0 auto;
        margin-right: 15px;
    }
    .column11{
        width: 100%;
        height: 70vh;
        flex: 0 0 auto;
    }
    .column9 img{
        width: 40%;
    }
    .column10 img{
        width: 40%;
    }
    .column11 img{
        width: 40%;
    }
    #demo{
        margin-top: 15px;
    }
    #demo1{
        margin-top: 15px;
    }
    #demo2{
        margin-top: 15px;
    }
    .seller{
        margin-top: 40px;
    }






}





